<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Stack some sats and start on your bitcoin journey."/>
    
    <link rel="stylesheet" href="/css/output.css"/>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png"/>
    <title>Pleb Journal</title>
</head>
<body>
@RenderBody()
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>
</html>