.show {
    display: block;
}

.htmx-request a {
    display: none;
}

.htmx-request button {
    display: none;
}

.loading-spinner {
    display: none;
}

.htmx-request .loading-spinner  {
    display: block;
}

.ck-editor__editable {
    min-height: 200px;
}