@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: monospace;
}

.show {
    display: block;
}

.btn {
    font-family: monospace;
}

.htmx-request a {
    display: none;
}

.htmx-request button {
    display: none;
}

.loading-spinner {
    display: none;
}

.htmx-request .loading-spinner  {
    display: block;
}

.fun-button {
    @apply text-2xl text-amber-950
}